<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
	<% include ./menu %>
<div class="con">
	<div class="about">
		<h1>About us</h1>
	</div>
	<div class="text">
		<h2>Luxury:</h2>
		<p>The Aapli Group has taken 'Luxury' to new heights - beyond majestic air-conditioned lobbies and swimming pools. By benchmarking itself with some of the best in the world, every Aapli project has many things extraordinary to offer the global Indian - fully air-conditioned residences, finest Italian marble flooring, fitted Poggenpohl kitchens, Zen landscaping, car parks with car lifts, resident spas, Sky gardens and sundecks, open-air cookout areas, green open spaces, hi-tech gyms, floodlit tennis courts, world-class facilities and schools, wi-fi enabled Business Centers, fingerprint access and motion detector sensors for security, Home Automation Systems with cellphone-operated appliances and much more.</p>
		<hr>

		<h2>Location:</h2>
		<p>While choosing a location or site for development, The Aapli Group considers several factors such as connectivity of the area, its proximity to railway stations, highways, business hubs and airports, the infrastructure support, the views it affords and the potential for area development - thereby creating 'location-al advantages'. In instances where the infrastructure does not support the project, the Group develops and/or supplements the infrastructure within its project limits.</p>
		<hr>

		<h2>Lifestyle:</h2>
		<p>The Group has always endeavored to make a qualitative difference to the lifestyles of its discerning customers by enhancing the quality of living, recreation and work areas, to new levels of excellence.</p>
		<hr>

		<h2>Exclusivity & Privacy:</h2>
		<p>The ultimate in luxury living at Napean Sea Road where interiors can be customised to individual taste, and you have the whole floor to yourself.</p>
		<hr>

		<h2>Nature at your doorstep:</h2>
		<p>Garden residences set in a serene resort-style environment with 8000 sq. mtrs. of lush landscaping and a Zen spa - right in the heart of Mumbai.</p>
		<hr>

		<h2>Every convenience at your fingertips:</h2>
		<p>A sprawling township with a world-class school, international shopping mall and Business centre.</p>
		<hr>

		<h2>Weekend Homes:</h2>
		<p>A tranquil weekend retreat by the hillside in Lonavala.</p>
		<hr>

		<h2>Great Work Environment:</h2>
		<p>IT techno campus spread across 2 million sq. ft. verdant environment
		Legacy.Mumbai is fast emerging as a world-class city, modeling itself on the lines of Tokyo and Shanghai. The Aapli Group is in its own way contributing to this mission. The Group has created a legacy for generations to come by creating architectural landmarks, delivering luxury lifestyles through innovative solutions, developing locations and setting high quality standards for itself and the industry at large.</p>
		<hr>

		<h2>Leadership:</h2>
		<p>The Aapli Group believes in Leadership through Innovation and has time and again 
		set new benchmarks for the real estate industry with a series of 'firsts' to its credit.</p>
		<hr>
	</div>
</div>

<% include ./footer %>
<script src="/javascripts/nav.js"></script>
</body>
</html>
