<!DOCTYPE html>
<html>
<head>
	<title>List of Complaints</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<% include ./head %>
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<%- include('./menu', {"isLoggedIn": isLoggedIn}); %>
<div class="head">
	<div class="regform">
      <h2>Complaints</h2>
      <table>
            <tr> <th>Complaint No</th> <th>Flat No</th> <th>Date of complaint</th> <th>Description</th> <th>Incident Location</th> <th>Outcome</th></tr>
            <% for (var i = 0; i < data.length; i++) {%>
                <tr><td><%= data[i].complaint_id %></td>
                    <td><%= data[i].crn %></td>
                    <td><% var date = data[i].doc.getDate(); %>
                        <% var month = data[i].doc.getMonth(); %>
                        <% var year = data[i].doc.getFullYear(); %>
                        <%= date + "-" +(month + 1) + "-" + year;  %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].incident_location %></td>
                    <td><%= data[i].outcome %></td> </tr>
            <% } %>
    </table>
	</div>
</div>
</div>

<% include ./footer %>

<script src="/javascripts/nav.js"></script>
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
</script>
</body>
</html>