<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <label>New Password</label>
    <input type="text" name="npass">
    <label>Confirm Password</label>
    <input type="text" name="cpass">
    <input type="submit" name="submit" value="Submit">
</body>
</html>