<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/complaint.css">
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<div class="head">
<h2>Complaint Box</h2>
</div>
<div class="complaint">
<form action = "/register-complaint" method = "POST">
	<label>Date of Complaint</label>
	<input type="date" name="date">
	<label>Name</label>
	<input type="text" name="fname" placeholder="First" class="c_name">
	<input type="text" name="lname" placeholder="Last" class="c_name c_last_name">
	<label>Email</label>
	<input type="email" name="email">
	<label>Incident location</label>
	<input type="text" name="location">
	<label>Complaint details</label>
	<textarea rows="6" cols="30" name = "description"></textarea>
	<label>Desired outcome</label>
	<textarea rows="6" cols="30" name = "outcome"></textarea>
	<input type="submit" name="btn" value="Submit">
</form>
</div>