<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/contact_us.css">
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<% include ./menu %>
<div class="form">
	<div class="form1">
		<h2>Contact us</h2>
		<form>
			<input type="text" name="fname" placeholder="Firstname">
			<input type="text" name="lname" placeholder="Lastname">
			<input type="tel" name="num" placeholder="Phone No." maxlength="10" onkeypress="return isNumberKey(event)">
			<input type="email" name="mail" placeholder="Email">
			<textarea rows="6" cols="70" name="textarea">Please write some text....</textarea>
			<div class="submit">
			<button class="btn" name="submit">Submit</button>
			</div>
		</form>
	</div>
</div>

<% include ./footer %>
<script src="/javascripts/nav.js"></script>
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}    
</script>
</body>
</html>