<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/electricity.css">
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>

<a href="/"><button class="home">Home</button></a>
<div>
<h2>Electricity Bill</h2>
<div class="elec">
	<form action="/payment">
		
		<p>Select Electricity Board:<select>
			<option value="mseb">MSEB</option>
			<option value="reliancepower">Reliance Energy</option>
			<option value="tatapower">TATA Power</option>
		</select></p>
		<input type="text" name="cusno" placeholder="Enter Customer Number">
		<div class="icon">
		<input type="tel" name="amount" placeholder="Enter Bill Amount"><i class="fa fa-rupee"></i>
		</div>
		<input type="email" name="email" placeholder="Email">
		<button class="con">Continue</button>
	</form>
</div>


</div>
</body>
</html>