<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<%- include('./menu', {"isLoggedIn": isLoggedIn}); %>
<div style="float: left; width: 100%;">
	<img class="img1" src="/images/home.jpg">
</div>

<div class="feat">
	<div class="feat1">
		<h2>Features</h2>
	</div>
	
	<div class="feat2">
		<a href="/electricity">
		<div class="elec">
		<img class="img2" alt="electricity bill" src="/images/electricity.png">
		<h3>Electricity Bill</h3>
		</div>
		</a>
		<a href="/maintainance">
		<div class="main">
		<img class="img3" alt="maintainance bill" src="/images/maintainance.png">
		<h3>Maintainance Bill</h3>
		</div>
		</a>
	</div>
	
</div>
<script src="/javascripts/nav.js"></script>

	<% include ./footer %>
</body>
</html>