<!DOCTYPE html>
<html>
<head>
	<title>Login to Aapli</title>
	<% include ./head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<% include ./menu %>

<div class="head">
	<div class="logform">
	<h2 style="margin-top: 0;">Login</h2>
	<form action = "/user-login" method = "POST">
		<input type="text" name="crn" placeholder="CRN" required>
		<input type="password" name="password" placeholder="password" required>
		<input type="submit" name="btn" value="Login">
	</form>
	<a href="/forgot"><p>Forgot Password(?)</p></a>
	</div>
</div>

<% include ./footer %>
<script src="/javascripts/nav.js"></script>
</body>
</html>