<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/maintainance.css" />
    <% include ./head %>
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
    <% include ./header %>
</header>
<div class="head"> 
    <h2>Maintainance Bill</h2>
</div>
<form>
    <label>CRN</label>
    <input type="text" name="crn">
    <label>Total Amount</label>
    <div class="icon">
    <input class="inpt" type="text" name="amnt" value="2500" readonly><i class="fa fa-rupee"></i>
    </div>
    <input type="submit" name="btn" value="Continue">
</form>
</body>
</html>