
<ul id="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/about">About us</a></li>
	<% if (isLoggedIn === true) { %>
	<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Services</a>
		<div class="dropdown-content">
			<a href="/society-details">Society Data</a>
			<a target="_blank" href="https://hometriangle.com/house-cleaning/mumbai">Housekeeping</a>
			<a href="/complaint">Complaints</a>
			<a href="/all_complaints">All complaints</a>
		</div>
	</li>
	<% } %>
	<li><a href="/contact">Contact us</a></li>
	<% if (isLoggedIn === false) { %>
	<div class="log">
		<li>
			<a href="/login" class="l2">Login</a>
		</li>
		<li>
			<a href="/register">Register</a>
		</li>
	</div>
	<% } else { %>
		<div class="log">
			<li>
				<a href="/logout" class="l2">Logout</a>
			</li>
		</div>
	<% } %>
</ul>
