<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css"  href="/stylesheets/payment.css" />
    <% include ./head %>
</head>
<body>
    <a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">

	<% include ./header %>
</header>
<a href="/"><button class="home">Home</button></a>
<div class="head">
    <h2>Payment</h2>
    <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa"></i>
              
              <i class="fa fa-cc-mastercard" ></i>
              
            </div>
</div>
<div class="form">
    <form>
        <label>Name on Card</label>
        <input type="text" name="cname" placeholder="vaibhav bodhane">
        <label>Credit card number</label>
        <input type="tel" name="num" placeholder="1111-2222-3333-4444" maxlength="16" onkeypress="return isNumberKey(event)">
        <div class="expm">
        <label>Exp Month</p>
        <input style="margin-top: -6px;" type="text" name="exp" placeholder="MM">
        </div>
        <div class="expy"> 
        <label>Exp Year</label>
        <input type="tel" name="expyear" placeholder="YYYY" maxlength="4" onkeypress="return isNumberKey(event)">
        </div>
        <label>CVV</label>
        <input class="cvv" type="tel" name="cvv" placeholder="123" maxlength="3" onkeypress="return isNumberKey(event)">
        <input type=submit name="pay" value="Pay">
    </form>
</div>
<script>
        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }    
</script>
</body>
</html>