<!DOCTYPE html>
<html>
<head>
	<title>Register to Aapli</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<% include ./head %>
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<%- include('./menu', {"isLoggedIn": isLoggedIn}); %>
<div class="head">
	<div class="regform">
		<h2>Register</h2>
		<form action = "/user-registration" method="POST" enctype="multipart/form-data">
			<input type="text" name="fname" placeholder="Firstname" required>
			<input type="text" name="lname" placeholder="Lastname">
			<input type="text" name="crn" placeholder="CRN" required>
			<input type="email" name="email" placeholder="Email" required>
			<input type="tel" name="num" placeholder="Phone No." maxlength="10" onkeypress="return isNumberKey(event)">
			<input type="password" name="password" placeholder="Password" required>
			<input type="file" name="profileImage">
			<input type="submit" name="submit" value="Register">
		</form>
	</div>
</div>
</div>

<% include ./footer %>

<script src="/javascripts/nav.js"></script>
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}    
</script>
</body>
</html>