<!DOCTYPE html>
<html>
<head>
	<title>List of members</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<% include ./head %>
</head>
<body>
<a href="/"><img class="im" src="/images/logo.png"></a>
<header class="h">
	<% include ./header %>
</header>
<%- include('./menu', {"isLoggedIn": isLoggedIn}); %>
<div class="head">
	<div class="regform">
        <h2>All Members</h2>
      <table>
            <tr> <th>Name</th> <th>Flat No</th> <th>Mobile</th> </tr>
            <% for (var i = 0; i < data.length; i++) {%>
                <tr><td><%= data[i].fname %></td> <td><%= data[i].crn %></td> <td><%= data[i].mobile %></td></tr>
            <% } %>
    </table>
	</div>
</div>
</div>

<% include ./footer %>

<script src="/javascripts/nav.js"></script>
<script>
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
</script>
</body>
</html>