*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
}	
.h{
	font-family: cursive;
}
.sticky{
	top: 0;
	position: fixed;
	width: 100%;
}

ul{
	position: sticky;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #555555;
	width: 100%;
	border-radius: 1px;
}
li, .dropdown {
	float: left;
	border-right: 1px solid #c5c5c5;
}
li a, .dropbtn{
	display: block;
	text-decoration: none;
	padding: 10px 13px;
	color: white;
	text-align: left;
	

}
.log {
	float: right;
	
}
li:last-child{
	border-right: none;
}
li a:hover, .dropdown:hover {
	background-color: white;
	color: black;

}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #555555;
	
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
}
.dropdown-content a:hover{
	background-color: white; 
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:last-child{
	border-bottom: none;
}

.dropdown:hover > a {
    color: #000;
}
div.about{
	text-align: center;
	color: #E15D44;
	font-family: verdana;
}
.about h1{
	margin-top: 0;
	padding-top: 40px;
}
.text{
	padding: 15px 100px;
}
.text h2{
	margin-bottom: -6px;
	font-family: verdana;
	color: #9B2335;
}
.text p{
	text-align: justify;
	font-family: monospace;
	font-size: 16px;
	margin-bottom: 20px;
	color: black;
}

.con{
	background-color: #c3c0af;
	display: block;
}


.footer{
	text-align: center;	
	background-color: grey;
	padding:5px 0; 
}