*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
}	
.h{
	font-family: cursive;
}
.head{
	text-align: center;
	font-family: cursive;
}
.complaint{
	width: 50%;
	margin: 70px auto;

}
label input textarea{
	display: inline-block;
}
.complaint form label, .complaint form input,.complaint form textarea {
    width: 50%;
	float: left;
	margin-bottom: 15px;
}
.complaint form input.c_name{
	width:24%;	
	margin-right:10.5px;
}
.complaint form input.c_name.c_last_name{
	margin-right: 0;
}
form input[type="submit"]{
	width: 30%;
	margin: 20px 35%;
	outline: none;

}
form input[type="date"]{
	width: 24%;
	
}
form input{
	padding: 5px 15px;
	outline: none;
	border-radius: 3px;
}
form textarea{
	outline: none;
	border-radius: 3px;
	padding: 5px 15px;
}