*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
}	
.h{
	font-family: cursive;
}
.sticky{
	top: 0;
	position: fixed;
	width: 100%;
}

ul{
	position: sticky;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #555555;
	width: 100%;
	border-radius: 1px;
}
li, .dropdown {
	float: left;
	border-right: 1px solid #c5c5c5;
}
li a, .dropbtn{
	display: block;
	text-decoration: none;
	padding: 10px 13px;
	color: white;
	text-align: left;
	

}
.log {
	float: right;
	
}
li:last-child{
	border-right: none;
}
li a:hover, .dropdown:hover {
	background-color: white;
	color: black;

}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #555555;
	
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
}
.dropdown-content a:hover{
	background-color: white; 
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:last-child{
	border-bottom: none;
}

.dropdown:hover > a {
    color: #000;
}
.form{
	background-image: url("../images/grad4.jpg");
	height: 600px;
	background-repeat: repeat-x;

}
.form1 form{
	
	margin: 0 auto;
	width: 50%;
}
.form1 h2{
	text-align: center;
	margin: 0;
	padding: 50px 0;
	color: 	#8B0000;
	font-family: cursive;
}
form input{
	width: 49%;
	margin-right: 2%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 7px;
}
form input:nth-child(even){
	float: right;
	margin: 0 auto;
}
button{
	font-family: cursive;
	outline: none;
}
form textarea{
	width: 100%;
	border-radius: 7px;
	padding: 10px;
	outline: none;
}
.submit{
	
	margin-top: 20px;
}
div .btn{
	padding: 20px 311px;
	text-align: center;
	border-radius: 7px;
	background-color: rgb(0, 150, 0);
	font-size: 16px;
}
div .btn:hover{
	background-color: rgb(0, 157, 104);
}
.footer{
	text-align: center;	
	background-color: grey;
	padding:5px 0; 
}
input[type=text]:focus{
	background-color: #F9E79F;
	outline: none;
}
input[type=tel]:focus{
	background-color: #F9E79F;
	outline: none;
}
input[type=email]:focus{
	background-color: #F9E79F;
	outline: none;
}
