*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
	display: inline-block;
}
.h{
	font-family: cursive;
}
.home{
	padding:10px 15px;
	background-color: grey;
	color: white;
	font-family: cursive;
	border-radius: 4px;
	margin: 10px 10px;
}
div h2{
	text-align: center;
	font-family: cursive;

}
form ul{
	list-style-type: none;

} 


form input{
	border: none;
	border-bottom: 1px solid black;
}
form input:focus{
	outline: none;
}
form p{
	margin-bottom: 25px;
}
.elec{
	width: 50%;
	margin: 0 auto;
}
form{
	width: 50%;
	margin: 0 auto;
}
form input{
	width: 100%;
	margin-bottom: 25px;
}
.icon input[type=tel]{
	padding-left: 12px;
}
.icon {
	position: relative;
}
.icon i {
	position: absolute;
	left: 0;
}
.con{
	width: 100%;
	padding: 10px;
	font-family: cursive;
}
select{
	padding: 7px;
	width:53.5%;
}
