*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
	display: inline-block;
}

.h{
	font-family: cursive;
	
}
.sticky{
	top: 0;
	position: fixed;
	width: 100%;
}
ul{
	
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #555555;
	width: 100%;
	border-radius: 1px;
}
li, .dropdown {
	float: left;
	border-right: 1px solid #c5c5c5;
}
li a, .dropbtn{
	display: block;
	text-decoration: none;
	padding: 10px 13px;
	color: white;
	text-align: left;
	

}
.log {
	float: right;
	
}
li:last-child{
	border-right: none;
}
li a:hover, .dropdown:hover {
	background-color: white;
	color: black;

}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #555555;
	
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
}
.dropdown-content a:hover{
	background-color: white; 
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:last-child{
	border-bottom: none;
}
.dropdown:hover > a {
    color: #000;
}
.img1{
	width: 100%;
	display: flex;
	border-bottom: 2px solid grey;
}
body{
	background-color: #001f3f;
}
.feat{
	margin: 0 auto;
	width: 70%;
}
.feat h2{
	color: rgb(255, 133, 104);
}
.feat1{
	text-align: center;
	padding: 20px 0;
	float: left;
	width: 100%;
	
}
.feat2{
	float: left; 
	width: 100%;
	margin-bottom: 70px;
	
}
.feat2 h3{
	margin-bottom: 0;
	color: rgb(0, 99, 71);
}
.elec{
	display: inline-block;
	border: 1px dotted white;
	padding: 70px;
	background-color: #DDDDDD
;
	text-align: center;
}
.img2{
	padding: 10px 40px;
}
.main{
	display: inline-block;
	float: right;
	margin: 0 auto;
	border: 1px dotted white;
	padding: 70px;
	background-color: #DDDDDD
;
	text-align: center;
}
.img3{
	padding: 10px 24px;
}
.elec:hover{
	background-color: rgba(255,255,255,0.5);
}
.main:hover{
	background-color: rgba(255,255,255,0.5);
}
.footer{
	background-color: grey;
	text-align: center;
	padding: 5px 0;
	clear: left;
	margin-bottom: 0;
	margin-top: 20px;
}