*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
	display: inline-block;
}

.h{
	font-family: cursive;
}
.sticky{
	top: 0;
	position: fixed;
	width: 100%;
}

ul{
	position: sticky;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #555555;
	width: 100%;
	border-radius: 1px;
}
li, .dropdown {
	float: left;
	border-right: 1px solid #c5c5c5;
}
li a, .dropbtn{
	display: block;
	text-decoration: none;
	padding: 10px 13px;
	color: white;
	text-align: left;
	

}
.log {
	float: right;
	
}
li:last-child{
	border-right: none;
}
li a:hover, .dropdown:hover {
	background-color: white;
	color: black;

}
.dropdown-content{
	position: absolute;
	display: none;
	background-color: #555555;
	
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
}
.dropdown-content a:hover{
	background-color: white; 
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a:last-child{
	border-bottom: none;
}
.dropdown:hover > a {
    color: #000;
}
body{
	background-image: url("../images/back7.png");
	
}
.head{
	width: 50%;
	margin: 50px auto;

}
.head p{
	float: right;
}
	
.logform {
	background-color: gainsboro;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 0; 
	padding: 60px 100px ;
	height: 50%;
	border-radius: 10px;
}
.logform h2{
	color: 	#778899;
	font-family: cursive;
}
.logform input{
	width: 100%;
	margin-bottom: 20px;
	padding:7px;
	border-radius: 7px;
}
input:nth-child(even){
	margin-bottom: 30px;
}
input:last-child{
	background-color: lightcoral;
	font-family: cursive;
	color: white;
	outline: none;
}
input:last-child:hover{
	background-color: #CD5C5C;
}
input[type=text]:focus{
	background-color: #F9E79F;
	outline: none;
}
input[type=password]:focus{
	background-color: #F9E79F;
	outline: none;
}
.footer{
	text-align: center;	
	background-color: grey;
	padding:5px 0; 
}
