*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
	display: inline-block;
}
.h{
	font-family: cursive;
}
.head{
    text-align: center;
    font-family: cursive;
}
form{
    width: 30%;
    margin: 0 auto;
}
form input[type="text"]{
    border: none;
	border-bottom: 1px solid black;
	float: left;
	width: 50%;
}
.inpt{
    padding-left: 12px;
}
.icon{
    position: relative;
}
.icon i{
	position: absolute;
	top: 104px;
    left: 50%;
}
form label{
	float: left;
	width: 50%;
}
input{
	margin-top: 30px;
	margin-bottom: 25px;
}
label{
	margin-top: 30px;
	margin-bottom: 25px;
}
form input[type="submit"]{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
}