*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	text-align: center;
	
	background-size:150px 100px;
	padding: 5px 0;
	color: gold;
	background-color: rgb(60, 179, 113);
}
.im{
	width: 10%;
	float: left;
	position: absolute;
	display: inline-block;
}
.h{
	font-family: cursive;
}
.home{
	padding:10px 15px;
	background-color: grey;
	color: white;
	font-family: cursive;
	border-radius: 4px;
	margin: 10px 10px;
}
.head{
    width: 25%;
    margin: 0 auto;
}
.head h2{
	font-family: cursive;
}

.head i{
	margin-top: 10px;
	font-size: 40px;
	margin-bottom: 10px;
}
.form{
    width: 25%;
    margin: 0 auto;
}

input{
	margin-top: 10px;
	width: 100%;
	padding: 7px;
	margin-bottom: 10px;
}
input[type=submit]{
	width: 100%;
	margin-bottom: 30px;
}
.expm{
	width: 32%;
	margin-right: 2%;
	float: left;
	display: inline-block;
}
.expy{
	width: 32%;
	float: left;
	display: inline-block;
	margin-right: 2%;
}
.cvv{
	margin-bottom: 20px;
	width: 32%;
	float: left;
}